---
{{- if eq (include "poiesis.minio.enabled" .) "true" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "poiesis.s3.secretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "poiesis.labels" . | nindent 4 }}
    app.kubernetes.io/component: minio
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ include "poiesis.minio.username" . | b64enc | quote }}
  AWS_SECRET_ACCESS_KEY: {{ include "poiesis.minio.password" . | b64enc | quote }}
{{- end }}
...
