export MONGODB_CONNECTION_STRING=<url>
export KEYCLOAK_CLIENT_SECRET=<secret>
export KEYCLOAK_ALGORITHM=RS256
export AUTH=keycloak
export KEYCLOAK_URL=<ulr>
export KEYCLOAK_REALM=poiesis
export KEYCLOAK_CLIENT_ID=poiesis
