# Database
export MONGODB_HOST=<url>
export MONGODB_PORT=27017
export MONGODB_USER=root
export MONGODB_PASSWORD=password
export MONGODB_MAX_POOL_SIZE=100
export MONGODB_DATABASE=poiesis

# K8s
export POIESIS_K8S_NAMESPACE=poiesis
export POIESIS_IMAGE=docker.io/jaeaeich/poiesis:latest

# Auth
export AUTH=keycloak
export KEYCLOAK_CLIENT_SECRET=<secret>
export KEYCLOAK_ALGORITHM=RS256
export KEYCLOAK_URL=<ulr>
export KEYCLOAK_REALM=poiesis
export KEYCLOAK_CLIENT_ID=poiesis
