---
{{- if eq (include "poiesis.keycloak.enabled" .) "true" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "poiesis.keycloak.secretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "poiesis.labels" . | nindent 4 }}
    app.kubernetes.io/component: keycloak
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  KEYCLOAK_CLIENT_SECRET: {{ include "poiesis.keycloak.clientSecret" . | b64enc | quote }}
{{- end }}
...
