---
{{- if eq (include "poiesis.mongodb.authEnabled" .) "true" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "poiesis.mongodb.secretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "poiesis.labels" . | nindent 4 }}
    app.kubernetes.io/component: mongo
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  MONGODB_USER: {{ include "poiesis.mongodb.username" . | b64enc | quote }}
  MONGODB_PASSWORD: {{ include "poiesis.mongodb.password" . | b64enc | quote }}
{{- end }}
...
