apiVersion: v2
name: poiesis
description: |
  Helm chart for Poiesis, a task execution service (TES) implementation
  for kubernetes.
version: 0.1.0
appVersion: latest

keywords:
  - poiesis
  - GA4GH
  - TES
  - "task execution service"

home: "https://poiesis.vercel.app"

sources:
  - "https://github.com/jaeaeich/poiesis/deployment/helm"
  - "https://github.com/jaeaeich/poiesis"

maintainers:
  - name: "Javed Habib"
    email: "jh4official@gmail.com"

annotations:
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"

dependencies:
  - name: minio
    version: 16.0.10
    repository: https://charts.bitnami.com/bitnami
    condition: minio.enabled
  - name: redis
    version: 21.0.2
    repository: https://charts.bitnami.com/bitnami
  - name: keycloak
    version: 24.6.6
    repository: https://charts.bitnami.com/bitnami
    condition: keycloak.enabled
  - name: mongodb
    version: 16.5.6
    repository: https://charts.bitnami.com/bitnami
    condition: mongodb.enabled