---
{{- if eq (include "poiesis.redis.authEnabled" .) "true" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "poiesis.redis.secretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "poiesis.labels" . | nindent 4 }}
    app.kubernetes.io/component: redis
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  MESSAGE_BROKER_PASSWORD: {{ include "poiesis.redis.password" . | b64enc | quote }}
{{- end }}
...
